.popup-with-cookies {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  align-items: center;
  justify-content: center;

  * {
    box-sizing: border-box;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #999;
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;  
  }
  
  ::-webkit-scrollbar {
    width: 15px;
  }

  &__modal {
    position: relative;
    width: 97%;
    max-width: 500px;
    height: 97%;
    max-height: 700px;
    background-color: #fff;
    // overflow-y: auto;
    overflow: hidden;
    border-radius: 5px;
  }

  &__overlay {
    width: calc(100% - 12px);
    height: 35px;
    position: absolute;
    left: 0;
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%,  rgba(255,255,255,1) 70% rgba(255,255,255,1) 100%);
  }

  &__overlay--up {
    top: 0;
    margin-bottom: -35px;
  }

  &__overlay--down {
    bottom: 0;
    transform: rotate(180deg);
  }

  &__content {
    padding: 10px 3% 10px 5%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;

    div {
      margin: auto 0;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }

  &__button,
  &__link {
    width: 95%;
    max-width: 400px;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    background-color: rgba(153, 153, 153, 0.2);
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    color: inherit;
    transition: box-shadow .2s ease;

    &:hover {
      box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
    }
  }

  &__active {
    display: flex;
  }
}

.has-popup-with-cookies-active {
  overflow: hidden;
}